{% extends 'base.html.twig' %}

{% block body %}
    {# Authentication errors #}
    {% if authenticationError %}
        <div class="fixed top-[130px] right-4 flex flex-col space-y-4 max-w-[500px]">
            {{ component('Alert', {type: 'error', message: authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle')}) }}
        </div>
    {% endif %}

    {# Display current two-factor provider #}
    <div class="flex flex-col justify-start items-center w-11/12 sm:w-4/5 lg:w-2/3 max-w-screen-2xl mx-auto mt-10">
        <h4 class="mb-3">Code de vérification</h4>
        <form class="w-full max-w-lg my-5" action="{{ checkPathUrl ? checkPathUrl : path(checkPathRoute) }}" method="post">
            <div class="flex flex-col justify-center items-center gap-3 mt-5">
                <div class="mb-3 w-full">
                    <label class="block" for="_auth_code">Code</label>
                    <div class="relative">
                        <input
                                id="_auth_code"
                                type="text"
                                name="{{ authCodeParameterName }}"
                                autocomplete="one-time-code"
                                autofocus
                                inputmode="numeric"
                                pattern="[0-9]*"
                                class="block w-full ps-3.5 p-2.5"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div class="checkbox mb-3">
                    <input type="checkbox" name="{{ trustedParameterName }}" id="_trusted">
                    <label for="_trusted">Je suis sur un appareil de confiance</label>
                </div>
            </div>
            {% if isCsrfProtectionEnabled %}
                <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
            {% endif %}
            <div class="flex flex justify-center items-center gap-3 mt-5">
                {{ component('Button', {type: 'button', action: 'log-in', style: 'primary', content: 'Se connecter'}) }}
                {{ component('Button', {type: 'link', action: 'log-out', style: 'secondary', content: 'Annuler', route: path('app_security_logout')}) }}
            </div>
        </form>
    </div>

{% endblock %}
