{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_security_logout') }}">Logout</a>
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ component('Form/Email', {data: form._username}) }}
        {{ form_row(form._password) }}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Remember me</label>
        </div>
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
