{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex flex-col justify-start items-center w-11/12 sm:w-4/5 lg:w-2/3 mx-auto">
    {{ component('LogoBig') }}
    <h4 class="mb-3 font-weight-normal">Se connecter</h4>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_security_logout') }}">Logout</a>
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ component('Form/Email', {data: form._username}) }}
        {{ form_row(form._password) }}
        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Remember me</label>
        </div>
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}
