{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Connexion{% endblock %}

{% block body %}

    {% if error %}
        <div class="fixed top-[130px] right-4 flex flex-col space-y-4 max-w-[500px]">
                {{ component('Alert', {type: 'error', message: error.messageKey|trans(error.messageData, 'security')}) }}
        </div>
    {% endif %}

    <div class="flex flex-col justify-start items-center w-11/12 sm:w-4/5 lg:w-2/3 max-w-screen-2xl mx-auto mt-10">
        <h4 class="mb-3">Se connecter</h4>

        {{ form_start(form, {'attr': {'class': 'w-full max-w-lg my-5'}}) }}

        <div class="flex flex-col justify-center items-center gap-3 mt-5">
            {{ component('Button', {type: 'link', action: 'google-sign-in', style: 'secondary', content: 'Se connecter avec Google', route: path('auth_oauth_connect', {service: 'google'})}) }}
            <span>ou</span>
        </div>

            {{ component('Form/Email', {data: form._username}) }}
            {{ component('Form/Password', {data: form._password}) }}
            <div class="flex justify-between">
                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Se souvenir de moi</label>
                </div>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="flex flex-col justify-center items-center gap-3 mt-5">
                {{ component('Button', {type: 'button', action: 'log-in', style: 'primary', content: 'Se connecter'}) }}
                <p>Je n'ai pas de compte, <a href="{{ path('app_security_register') }}">je m'inscris</a></p>
            </div>

        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}
