{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Création de compte{% endblock %}

{% block body %}

    <div class="flex flex-col justify-start items-center w-11/12 sm:w-4/5 lg:w-2/3 max-w-screen-2xl mx-auto mt-10">
        <h4 class="mb-3">Créer mon compte</h4>

        {{ form_start(registerForm, {'action': path('app_security_register'), 'method': 'POST', 'attr': {
            'class': 'w-full max-w-lg my-5',
        }}) }}

        {{ component('Form/Text', {data: registerForm.firstname}) }}
        {{ component('Form/Text', {data: registerForm.lastname}) }}
        {{ component('Form/Email', {data: registerForm.email}) }}
        {{ component('Form/ResetPassword', {data: registerForm.rawPassword}) }}

        <div class="flex flex-col justify-center items-center gap-10 mt-8">
            <p class="text-sm">
                En créant votre compte, vous acceptez les
                <a class="text-sm" href="{{ path('app_legal_cgu') }}">Conditions Générales d'Utilisation</a>
                et reconnaissez que vos données personnelles seront traitées conformément à notre
                <a class="text-sm" href="{{ path('app_legal_rgpd') }}">Politique de Protection des Données Personnelles</a>.
            </p>
            {{ component('Button', {type: 'button', action: 'sign-in', style: 'primary', content: 'Créer mon compte'}) }}
        </div>

        {{ form(registerForm._token) }}
        {{ form_end(registerForm, {'render_rest': false}) }}
    </div>

{% endblock %}
