<div class="mb-3">
    <label class="block" for="{{ data.vars.id }}">Mot de passe</label>
    <div class="relative toggle-password-container">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <twig:ux:icon name="lucide:lock-keyhole" class="w-4 h-4 text-gray-500" />
        </div>
        <input
                type="password"
                name="{{ data.vars.full_name }}"
                required="{{ data.vars.required }}"
                id="{{ data.vars.id }}"
                value="{{ data.vars.value }}"
                class="block w-full ps-10 p-2.5 form-control"
                data-controller="{{ data.vars.attr['data-controller'] }}"
                data-symfony--ux-toggle-password--toggle-password-hidden-label-value="{{ data.vars.attr['data-symfony--ux-toggle-password--toggle-password-hidden-label-value'] }}"
                data-symfony--ux-toggle-password--toggle-password-visible-label-value="{{ data.vars.attr['data-symfony--ux-toggle-password--toggle-password-visible-label-value'] }}"
                data-symfony--ux-toggle-password--toggle-password-hidden-icon-value="{{ data.vars.attr['data-symfony--ux-toggle-password--toggle-password-hidden-icon-value'] }}"
                data-symfony--ux-toggle-password--toggle-password-visible-icon-value="{{ data.vars.attr['data-symfony--ux-toggle-password--toggle-password-visible-icon-value'] }}"
                data-symfony--ux-toggle-password--toggle-password-button-classes-value="{{ data.vars.attr['data-symfony--ux-toggle-password--toggle-password-button-classes-value'] }}"
        >
    </div>
    {% if data.vars.help is defined and data.vars.help is not empty %}
        <p class="form-help">{{ data.vars.help }}</p>
    {% endif %}
    {% if data.vars.errors is defined and data.vars.errors is not empty %}
        {% for error in data.vars.errors %}
            <p class="form-error">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
</div>