<div class="mb-3">
    <label class="block" for="{{ data.first.vars.id }}">{{ data.first.vars.label }}</label>
    <div class="relative toggle-password-container">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <twig:ux:icon name="lucide:lock-keyhole" class="w-4 h-4 text-gray-500" />
        </div>
        <input
            type="password"
            name="{{ data.first.vars.full_name }}"
            required="{{ data.first.vars.required }}"
            id="{{ data.first.vars.id }}"
            value="{{ data.first.vars.value }}"
            class="block w-full ps-10 p-2.5 form-control"
            data-controller="{{ data.first.vars.attr['data-controller'] }}"
            data-symfony--ux-toggle-password--toggle-password-hidden-label-value="{{ data.first.vars.attr['data-symfony--ux-toggle-password--toggle-password-hidden-label-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-visible-label-value="{{ data.first.vars.attr['data-symfony--ux-toggle-password--toggle-password-visible-label-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-hidden-icon-value="{{ data.first.vars.attr['data-symfony--ux-toggle-password--toggle-password-hidden-icon-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-visible-icon-value="{{ data.first.vars.attr['data-symfony--ux-toggle-password--toggle-password-visible-icon-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-button-classes-value="{{ data.first.vars.attr['data-symfony--ux-toggle-password--toggle-password-button-classes-value'] }}"
        >
    </div>
    {% if data.first.vars.help is defined and data.first.vars.help is not empty %}
        <p class="form-help">{{ data.first.vars.help }}</p>
    {% endif %}
    {% if data.first.vars.errors is defined and data.first.vars.errors is not empty %}
        {% for error in data.first.vars.errors %}
            <p class="form-error">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    <label class="block" for="{{ data.second.vars.id }}">{{ data.second.vars.label }}</label>
    <div class="relative toggle-password-container">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <twig:ux:icon name="lucide:lock-keyhole" class="w-4 h-4 text-gray-500" />
        </div>
        <input
            type="password"
            name="{{ data.second.vars.full_name }}"
            required="{{ data.second.vars.required }}"
            id="{{ data.second.vars.id }}"
            class="block w-full ps-10 p-2.5 form-control"
            data-controller="{{ data.second.vars.attr['data-controller'] }}"
            data-symfony--ux-toggle-password--toggle-password-hidden-label-value="{{ data.second.vars.attr['data-symfony--ux-toggle-password--toggle-password-hidden-label-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-visible-label-value="{{ data.second.vars.attr['data-symfony--ux-toggle-password--toggle-password-visible-label-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-hidden-icon-value="{{ data.second.vars.attr['data-symfony--ux-toggle-password--toggle-password-hidden-icon-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-visible-icon-value="{{ data.second.vars.attr['data-symfony--ux-toggle-password--toggle-password-visible-icon-value'] }}"
            data-symfony--ux-toggle-password--toggle-password-button-classes-value="{{ data.second.vars.attr['data-symfony--ux-toggle-password--toggle-password-button-classes-value'] }}"
        >
    </div>
    {% if data.second.vars.help is defined and data.second.vars.help is not empty %}
        <p class="form-help">{{ data.second.vars.help }}</p>
    {% endif %}
    {% if data.second.vars.errors is defined and data.second.vars.errors is not empty %}
        {% for error in data.second.vars.errors %}
            <p class="form-error">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
</div>