{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ recipe.label }}{% endblock %}
{% block meta_description %}{{ recipe.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ recipe.metaKeywords }}{% endblock %}

{% block body %}
    <div class="flex flex-col justify-start w-11/12 sm:w-4/5 lg:w-2/3 max-w-screen-2xl mx-auto mt-20">

        {{ component('Recipe:Breadcrumb', {subcategory: recipe.subcategory, recipeTitle: recipe.label}) }}

        {{ component('Recipe:Title', {recipe: recipe, user: app.user}) }}

        <div class="flex flex-col xl:flex-row-reverse xl:gap-3">
            {{ component('Recipe:Carousel', {images: recipe.recipeImages}) }}
            <div class="flex flex-col xl:flex-col xl:w-full">
                {{ component('Recipe:Resume', {
                    preparationTime: recipe.preparationTime,
                    cookingTime: recipe.cookingTime,
                    restingTime: recipe.restingTime,
                    costId: recipe.cost.id,
                    difficultyId: recipe.difficulty.id
                }) }}
                <div>
                    {{ component('Recipe:Includes:Separator', {title: 'Note de l\'auteur'}) }}
                    <p class="text-justify">{{ recipe.description }}</p>
                </div>
            </div>
        </div>

        <div class="flex flex-col w-full">
            {{ component('Recipe:Includes:Separator', {title: 'Durées en détail'}) }}

            {{ component('Recipe:Duration', {
                preparationTime: recipe.preparationTime,
                cookingTime: recipe.cookingTime,
                restingTime: recipe.restingTime
            }) }}
        </div>

        <div class="flex flex-col xl:flex-row xl:gap-3 w-full">
            <div class="w-full">
                {{ component('Recipe:Includes:Separator', {title: 'Ingrédients'}) }}
                {{ component('Recipe:Ingredient', {
                    servingNumber: recipe.servingNumber,
                    recipeIngredients: recipe.recipesIngredients
                }) }}
            </div>
            <div class="w-full">
                {{ component('Recipe:Includes:Separator', {title: 'Étapes'}) }}
                {{ component('Recipe:Step', {recipeSteps: recipe.recipeSteps}) }}
            </div>
        </div>

        <div class="flex flex-col w-full items-center">
            {{ component('Recipe:Includes:Separator', {title: 'Commentaires', count: recipe.countRecipesComments}) }}
            {% if app.user is not empty %}
                <div class="w-full max-w-lg my-5">
                    <div class="py-2 px-4 mb-4 bg-gray-50 border border-gray-300 rounded-md focus:ring-primary-500 focus:border-primary-500 transition ">
                        <label for="comment" class="sr-only">Your comment</label>
                        <textarea id="comment" rows="6"
                                  class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none js_recipe_comment"
                                  placeholder="Écrire votre commentaire..."
                                  data-recipe="{{ recipe.id }}" required></textarea>
                        <small class="text-alert-error js_recipe_comment_error"></small>
                    </div>
                    <div class="">
                        {{ component('Button', {type: 'button', action: 'write', style: 'primary', content: 'Ajouter votre commentaire', route: path('app_security_login'), jsClass: 'js_recipe_add_comment'}) }}
                    </div>

                </div>
            {% else %}
                <div class="my-5 max-w-lg">
                    {{ component('Button', {type: 'link', action: 'log-in', style: 'primary', content: 'Se connecter pour commenter', route: path('app_security_login')}) }}
                </div>
            {% endif %}
            {% for comment in recipe.recipesComments %}
                {% if comment.enabled %}
                    <article class="w-full max-w-lg mb-6">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                <p class="inline-flex items-center text-gray-900 font-semibold">
                                    <div class="relative inline-flex items-center justify-center w-7 h-7 md:w-8 md:h-8 me-2 overflow-hidden bg-primary-600 rounded-full">
                                        <span class="text-gray-50">{{ comment.user.firstname|first }}{{ comment.user.lastname|first }}</span>
                                    </div>
                                    <span class="me-2">{{ comment.user }}</span>
                                </p>
                                <p class="text-gray-600">
                                    {{ comment.createdAt|date('d/m/Y H:i') }}
                                </p>
                            </div>
                        </footer>
                        <p class="text-justify text-gray-500">{{ comment.comment|nl2br }}</p>
                    </article>
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}