{% extends 'base.html.twig' %}

{# Todo : Ajouter recette au titre #}
{% block title %}{{ parent() }} {{ recipe.label }}{% endblock %}
{% block meta_description %}{{ recipe.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ recipe.metaKeywords }}{% endblock %}

{% block body %}
    <div class="flex flex-col justify-start w-11/12 sm:w-4/5 lg:w-2/3 mx-auto mt-20">

        {{ component('Recipe:Breadcrumb', {subcategory: recipe.subcategory, recipeTitle: recipe.label}) }}

        {{ component('Recipe:Title', {recipe: recipe, user: app.user}) }}

        <div class="flex flex-col xl:flex-row-reverse xl:gap-3">
            {{ component('Recipe:Carousel', {images: recipe.recipeImages}) }}
            <div class="flex flex-col xl:flex-col xl:w-full">
                {{ component('Recipe:Resume', {
                    preparationTime: recipe.preparationTime,
                    cookingTime: recipe.cookingTime,
                    restingTime: recipe.restingTime,
                    costId: recipe.cost.id,
                    difficultyId: recipe.difficulty.id
                }) }}
                <div>
                    {{ component('Recipe:Includes:Separator', {title: 'Note de l\'auteur'}) }}
                    <p class="text-justify">{{ recipe.description }}</p>
                </div>
            </div>
        </div>

        <div class="flex flex-col w-full">
            {{ component('Recipe:Includes:Separator', {title: 'Durées en détail'}) }}

            {{ component('Recipe:Duration', {
                preparationTime: recipe.preparationTime,
                cookingTime: recipe.cookingTime,
                restingTime: recipe.restingTime
            }) }}
        </div>

        <div class="flex flex-col xl:flex-row xl:gap-3 w-full">
            <div class="w-full">
                {{ component('Recipe:Includes:Separator', {title: 'Ingrédients'}) }}
                {{ component('Recipe:Ingredient', {
                    servingNumber: recipe.servingNumber,
                    recipeIngredients: recipe.recipesIngredients
                }) }}
            </div>
            <div class="w-full">
                {{ component('Recipe:Includes:Separator', {title: 'Étapes'}) }}
                {{ component('Recipe:Step', {recipeSteps: recipe.recipeSteps}) }}
            </div>
        </div>

    </div>

{% endblock %}