{% extends 'base.html.twig' %}

{# Todo : Ajouter recette au titre #}
{% block title %}{{ parent() }} {{ recipe.label }}{% endblock %}
{% block meta_description %}{{ recipe.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ recipe.metaKeywords }}{% endblock %}

{% block body %}
    <div class="flex flex-col justify-start w-11/12 sm:w-4/5 lg:w-2/3 mx-auto mt-20">
        {% dump(recipe) %}
        {# Breadcumb #}
        {{ component('Recipe/Breadcrumb', {subcategory: recipe.subcategory, recipeTitle: recipe.label}) }}


        {# Image #}
        {{ component('Recipe/Carousel', {images: recipe.recipeImages}) }}

    </div>
    {% dump(recipe) %}

{% endblock %}