<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Salt & Pepper -{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{% block meta_description %}Salt & Pepper - Épicez votre quotidien avec Salt and Pepper : des recettes qui réveillent les papilles et enchantent les assiettes !{% endblock %}" />
        <meta name="keywords" content="salt, pepper, {% block meta_keywords %}{% endblock %}" />
        <link rel="icon" href="{{ asset('images/favicon.png') }}">


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
        {% endblock %}
    </head>
    <body>
        {# Header #}
        {{ component('Header') }}

        {# Toast #}
        <div class="fixed z-10 top-[130px] right-4 flex flex-col space-y-4 max-w-[500px] js_alert_container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {{ component('Alert', {type: label, message: message}) }}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="flex-grow z-0">
            {% block body %}
            {% endblock %}
        </div>


        {# Footer #}
        {{ component('Footer') }}
    </body>
</html>
