{% set hiddenIconsRoutes = [
    'app_security_login',
    'app_forgot_password_request',
    'app_check_email',
    'app_reset_password',
    '2fa_login',
    'app_security_register',
    ] %}

{# TODO : Ajouter les routes sur les liens #}
{% set recipeMenu = {
    styleClass: 'sap-header-nav-recipe-menu-hidden',
    scriptClass: 'js_header_recipe_menu',
    role: 'recipe',
    content: [
        {
            label: 'Menu 1',
            href: '#'
        },
        {
            label: 'Menu 2',
            href: '#'
        },
        {
            label: 'Menu 3',
            href: '#'
        },
        {
            label: 'Menu 4',
            href: '#'
        },
        {
            label: 'Menu 5',
            href: '#'
        }
    ]
} %}

{# TODO : Ajouter les routes sur les liens #}
{% set publicUserMenu = {
    styleClass: 'sap-header-nav-user-menu-hidden',
    scriptClass: 'js_header_user_menu',
    role: 'user',
    content: [
        {
            label: 'Se connecter',
            href: path('app_security_login')
        },
        {
            label: 'Créer son compte',
            href: path('app_security_register')
        }
    ]
} %}

{# TODO : Ajouter les routes sur les liens #}
{% set content = [
    {
        label: 'Gérer mon compte',
        href: path('app_security_login')
    },
    {
        label: 'Gérer mes recettes',
        href: '#'
    },
    {
        label: 'Déconnexion',
        href: path('app_security_logout')
    }
] %}

{% set adminContent = {
    label: 'Espace administrateur',
    href: path('sonata_admin_dashboard')
} %}

{% if is_granted('ROLE_SONATA_ADMIN') %}
    {% set content = [adminContent]|merge(content) %}
{% endif %}

{% set privateUserMenu = {
    styleClass: 'sap-header-nav-user-menu-hidden',
    scriptClass: 'js_header_user_menu',
    role: 'user',
    content: content
} %}

<header class="sap-header">
    <nav class="sap-header-nav">

        {% if app.current_route not in hiddenIconsRoutes %}
            {{ component('IconButton', {
                styleButtonClass: 'header-nav-button',
                scriptButtonClass: 'js_header_recipe_button',
                styleIconClass: 'header-nav-button-icon',
                iconName: 'lucide:menu',
                ariaLabel: 'menu'
            }) }}

            {{ component('Includes/HeaderMenu', {
                styleClass: recipeMenu.styleClass,
                scriptClass: recipeMenu.scriptClass,
                role: recipeMenu.role,
                content: recipeMenu.content
            }) }}
        {% endif %}

        {{ component('Includes/HeaderLogo') }}

        {% if app.current_route not in hiddenIconsRoutes %}
            <div class="header-nav-right-block">

                {{ component('IconButton', {
                    styleButtonClass: 'header-nav-button',
                    scriptButtonClass: 'js_header_search_button',
                    styleIconClass: 'header-nav-button-icon',
                    iconName: 'lucide:search',
                    ariaLabel: 'search'
                }) }}

                {{ component('IconButton', {
                    styleButtonClass: 'header-nav-button',
                    scriptButtonClass: 'js_header_user_button',
                    styleIconClass: 'header-nav-button-icon',
                    iconName: 'lucide:circle-user-round',
                    ariaLabel: 'user'
                }) }}

                {% if app.user is empty %}
                    {{ component('Includes/HeaderMenu', {
                        styleClass: publicUserMenu.styleClass,
                        scriptClass: publicUserMenu.scriptClass,
                        role: publicUserMenu.role,
                        content: publicUserMenu.content
                    }) }}
                {% else %}
                    {{ component('Includes/HeaderMenu', {
                        styleClass: privateUserMenu.styleClass,
                        scriptClass: privateUserMenu.scriptClass,
                        role: privateUserMenu.role,
                        content: privateUserMenu.content
                    }) }}
                {% endif %}

            </div>
        {% endif %}

    </nav>

    {% if app.current_route not in hiddenIconsRoutes %}
        {{ component('Includes/HeaderSearchBar') }}
    {% endif %}

</header>
