<button class="{{ this.styleButtonClass }} {{ this.scriptButtonClass }}" title="{{ this.title }}" aria-label="{{ this.ariaLabel }}" {{ this.attributes }}>
    <twig:ux:icon name="{{ this.iconName }}" class="{{ this.styleIconClass }}" />
</button>