<div {{ attributes }}>
    {# Todo : Modifier l'acion #}
    {{ form_start(form, {'action': path('app_forgot_password_request'), 'method': 'POST', 'attr': {
        'class': 'w-full max-w-lg my-5',
    }}) }}

    {{ component('Form/Text', {data: form.firstname}) }}
    {{ component('Form/Text', {data: form.lastname}) }}
    {{ component('Form/Email', {data: form.email}) }}
    {{ component('Form/ResetPassword', {data: form.rawPassword}) }}

    <div class="flex flex-col justify-center items-center gap-3 mt-5">
        {{ component('Button', {type: 'button', action: 'send', style: 'primary', content: 'Créer mon compte'}) }}
    </div>
    {{ form(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
