<div {{ attributes }}>
    {{ form_start(form, {'action': path('app_forgot_password_request'), 'method': 'POST', 'attr': {
        'class': 'w-full max-w-lg my-5'
    }}) }}

    {{ component('Form/Email', {data: form.email}) }}

    <p class="my-5">
        Renseignez votre adresse email. Un lien vous sera envoyé pour réinitialiser votre mot de passe
    </p>

    <div class="flex flex-col justify-center items-center gap-3 mt-5">
        {{ component('Button', {type: 'button', action: 'send', style: 'primary', content: 'Envoyer'}) }}
    </div>
    {{ form(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
